.pickleball-animation-container {
  width: 260px;
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickleball-net {
  position: absolute;
  bottom: 24px;
  width: 100%;
  height: 6px;
  background-color: #1b4d3d;
  border-radius: 3px;
  opacity: 0.9;
}

.pickleball-net-vertical {
  position: absolute;
  bottom: 24px;
  left: 50%;
  width: 6px;
  height: 54px;
  background-color: #1b4d3d;
  border-radius: 3px;
  opacity: 0.9;
  transform: translateX(-3px);
}

.pickleball-ball {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #F7D24C;
  border: 2px solid #caa82f;
  transition: transform 0.05s linear;
  z-index: 10;
}

.pickleball-paddle {
  position: absolute;
  bottom: 32px;
  width: 32px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.12s ease-out;
}

.pickleball-paddle-left {
  left: 12px;
  transform: rotate(-20deg);
}

.pickleball-paddle-right {
  right: 12px;
  transform: rotate(20deg);
}

.pickleball-paddle-face {
  width: 28px;
  height: 34px;
  border-radius: 8px;
  background-color: #2f5d50;
  border: 2px solid #22463c;
}

.pickleball-paddle-handle {
  width: 10px;
  height: 14px;
  margin-top: -2px;
  background-color: #22463c;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

